<mat-toolbar color="primary">
  <h1>Welcome to YaoiHub :v </h1>
  <h2>Hell Center <3</h2>
  <div class="mat-spacer"></div>
  <a mat-button [routerLink]="'./home'">Home</a>
  <a mat-button [routerLink]="'./students'">Students</a>
  <a mat-button [routerLink]="'./about'">About us</a>

  <mat-divider [vertical]="true" [inset]="true"></mat-divider>

  <a *ngIf="getCurrentUserEmail() === null" mat-button [routerLink]="'./sign-in'">Sign-In</a>

  <div *ngIf="getCurrentUserEmail()">

    <a mat-button>{{ getCurrentUserEmail() }}</a>
<!--al llamar a una funcion se usa (click)-->
    <a mat-button (click)="signOut()">Sign-Out</a>

  </div>

</mat-toolbar>
<!--//no funciona :c-->
<router-outlet></router-outlet>

